@font-face {
  font-family: "iconfont"; /* Project id 3428621 */
  src: url('../fonts/iconfont.woff2?t=1653478508100') format('woff2'),
       url('../fonts/iconfont.woff?t=1653478508100') format('woff'),
       url('../fonts/iconfont.ttf?t=1653478508100') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-auto:before {
  content: "\e6eb";
}

.icon-all:before {
  content: "\e6ef";
}

.icon-data:before {
  content: "\e6f9";
}

